html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body > div {
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  position: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --green : #00db70;
  --hover-green: #00a856;
  --design-bg-dark: #1d2036;
  --design-gray-bg1: #eeeeee;
  --design-info-bg: #cce1f0;
  --design-bg: #f4f4f4;
  --wrong-red: #ff1947;
  --hover-wrong-red: #bb1030;
  --signal-blue: #005387;
  --hover-signal-blue: #00426c;
  --signal-yellow: #f9a800;
  --hover-signal-yellow: #c78600;
  --signal-white: #ecece7;
  --hover-signal-white: #bcbcb8;
  --button-gray: #474747;
  --hover-button-gray: #353535;
  --mail-background: rgb(226, 226, 226);
}

// Design BTN
.DesignBTN {
    background-color: rgba(0, 0, 0, 0.1);
    color: #090C21;
    transition: all 0.6s;
    text-transform: uppercase;
    text-align: center;
    vertical-align: center;
    margin: 50px;
    padding: 15px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: normal;
    min-width: 100px;
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--design-bg-dark);
}

.DesignBTN.confirmBTN:hover:not(:disabled) {
  background-color: var(--green);
  border-color: var(--hover-green);
}

.DesignBTN.cancelBTN:hover:not(:disabled) {
  background-color: var(--wrong-red);
  border-color: var(--hover-wrong-red);
}

.DesignBTN.neutralBTN:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.04);
}

.TopBar {
  width: 100%;
  height: 50px;
  background-color: var(--design-bg-dark);
  color: white;
  position: fixed;
  top: 0;
  z-index: 3;
}