.HintWidget {
    border-radius: 30px;
    border: 2px solid black;
    font-weight: bold;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    margin-right: 0;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    &:hover {
        background-color: var(--green);
        box-shadow: px 0.5px 0.5px 0.5px var(--hover-green);
      }

    .ToolTip {
        position: absolute;
        z-index: 1;
        /* move to left with margin */
        margin-right: 15px;
        font-size: 11pt;
      
        padding: 10px;
        border-radius: 10px;
        background: var(--design-bg-dark);
        color: var(--signal-white);
        white-space: normal;
        font-weight: lighter;
        display: block; 
        visibility: hidden; /* hide by default */
    }
    .NoToolTip {
        visibility: hidden;
    }

    .Content {
        max-width: 40vw;
        padding: 20px 20px 40px 20px;
       font-weight: lighter;
       display: flex!important;
       justify-content: space-between;
       align-items: center;
       flex-flow: wrap column;
       width: fit-content;
       button {
           margin: 40px 0px 0px!important ;
       }
   }

}

.HintWidget:hover .ToolTip {
    visibility: visible;
}

@media screen and (max-width:700px) {
    .HintWidget .Content{
        max-width: 70vw;
    }
}