.SecurityCards .ExplainText {
  padding-left: 10px;
  padding-right: 10px;

  .DesignBTN {
    margin: 2px;
    padding: 1px;
    font-size: 16px;
    font-weight: normal;
    min-width: 100px;
    border: 2px solid;
  }
  .DesignCardShopBTN {
    background-color: #1d2036;
    font-size: 16pt;
    transform: translate(0, -2px);
    transition: all 0.6s;
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
  }
  }
