.TextField {
  padding: 25px;
  .CardView {
    background-color: rgba(255,255,255,1);
    margin-left:auto;
    margin-right:auto;
    margin-top: 3vh;
  }
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
  cursor: default;
  text-align: center;
  span {
    font-size:2vh;
    font-weight:bold;
  }


  //Button Position/Größe anders als Standard Button
  button{
    margin: 15px !important;
  }
}
.Content{
  background-color:  rgba(255, 255, 255, 1) !important;
  border-width: 0px !important;
  border-radius: 25px;
  box-shadow:  3px 3px 3px 1px rgba($color: #000000, $alpha: 0.4);
}
