@import "src/components/SecurityCards/SecurityCards.scss";

.EventView {
  padding-top: 20px;
  min-height: 270px;
  max-height: 270px;

  .TextFrame {
    color: #555;
    width: 90%;
  }
  .occurText {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 5px;
  }
  .good {
    background: var(--sec-event-pos) 0% 0% no-repeat padding-box;
    border-radius: 5px;
  }
  .bad {
    background: var(--sec-event-inc) 0% 0% no-repeat padding-box;
    border-radius: 5px;
  }
  .empty{
    display: none;
  }
}

//mobile and tablet/low-res Laptop
@media only screen and (min-width: $xs) and (max-width: $xl){
  .EventView {
    margin-bottom: 20px;

    .TextFrame{
      width: 99%;
    }
  }
}

//mobile and tablet/low-res Laptop
@media only screen and (max-width: $md), only screen and (max-height: 900px){
  .EventView {
    min-height: fit-content;
    max-height: none;
    margin-bottom: 20px;

    .TextFrame{
      width: 99%;
    }
  }
}