@import "src/components/SecurityCards/SecurityCards.scss";

.TopBar {
  font-size: 16pt;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  z-index: 1;

  .MoneyContainer {
    margin-right: 15px;
    align-self: baseline;
    cursor: default;
    .InnerMoneyContainer {
      position: relative;
      top: 12px;
      left: 10px;
    }
    .MoneyVisible {
      visibility: visible !important;
      z-index: 4 !important;
    }

    .Money{
      height:inherit;
      font-weight: bold;
    }

    &:Hover{
      .MoneyDetails{
        visibility: visible;
        z-index: 4;
      }
    }

    .MoneyDetails {
      visibility: hidden;
      padding: 5px;
      position: relative;
      top: 12px;
      width: 250px;
      background-color: var(--sec-bar);
      padding-left: 5px;
      padding-right: 5px;
      font-size: 13pt;
      overflow: hidden;
      .Income {
        color: var(--sec-money-pos);
      }
      .Cost {
        color: var(--sec-money-neg);
      }
      ul{
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 30px;
      }
    }
  }
  .GameName {
    flex-grow: 2;
    font-size: 22pt;
    margin-top: -3px;
  }

  .TurnCount {
    text-align: right;
    margin-right: 40px;
    font-weight: bold;
  }
}

@media only screen and (max-width: $sm){
    .TopBar{
      font-size: 16px;
      .TurnCount{
        margin-right: 0;
      }

      .MoneyContainer{
        .InnerMoneyContainer{
          top: 15px;
        }
        .MoneyDetails{
          width: 180px;
          font-size: 16px;
        }
      }
    }
}