@import "src/styles/_variables.scss";

.FinView {
  text-align: center;
  font-size: 30pt;
  margin-top: 70px;
  margin-bottom:auto;
  font-weight:bold;
  .FinScore {
    margin-bottom: 30px;
  }
  button{
    margin-top: 0;
    margin-bottom: 90px;
  }
}

//mobile
@media only screen and (max-width: $sm){
  .FinView {

    margin-top: 180px;

    .FinScore {
      margin-bottom: 20px;
    }

    button{
      margin: 20px;
    }
  }
}

//tablet
@media only screen and (min-width: $sm) and (max-width: $lg){
  .FinView {

    margin-top: 120px;
  }
}
