.CardFinishOverview {
  text-align: center;
  .OverviewHeadline {
    color:gray;
    font-size:40pt;
    padding-top:80px;
    text-align: center;
  }
  .OverviewStatusHeadline {
    color:black;
    font-size:80pt;
    padding-top:40px;
    text-align: center;
  }
  .FinishStat{
    font-size: 50pt;
    color:green;
    padding-top:100px;
    text-align: center;
  }
}
