@import "src/styles/_variables.scss";

html {
  --sec-event-pos: #6dc660;
  --sec-event-ext: #f0e173;
  --sec-event-inc: #e25d5d;

  --sec-skill-income-a: #f0e173;
  --sec-skill-prevent-a: #8fde83;
  --sec-skill-react-a: #ff9a4b;
  --sec-skill-income-b: #ebd952;
  --sec-skill-prevent-b: #7ecf72;
  --sec-skill-react-b: #fc8a31;

  --sec-money-pos: #f0e173;
  --sec-money-neg: #e25d5d;

  --sec-bar: #1d2036;
  --sec-ok: #33c69b;
  --sec-ok-hover: #1aac82;
  --sec-cancle: #c7c8d1;
  --sec-cancle-hover: #989aa5;

  --probability-bar-event: #e25d5d;
  --probability-bar-basis: #b2ea7e;
  --probability-bar-s1: #95e57a;
  --probability-bar-s2: #7dde7e;
  --probability-bar-s3: #68d786;
  --probability-bar-s4: #6dc660;
  --probability-bar-55: #707070;

  --sec-font-on-white: #53545d;
  --sec-font-on-blue: #ffffff;
  --sec-font-inactive: #c7c8d1;
}
body{
  font-size: 16px;
}

.SecurityCards {
  .IntroGif {
    text-align: center;
    padding-bottom: 30px;
  }
  //scoped button coloring
  .DesignBTN {
    background-color: var(--sec-ok) !important;
  }

  .DesignBTN.confirmBTN:not(:disabled) {
    background-color: var(--sec-ok) !important;
  }

  .DesignBTN.neutralBTN:not(:disabled) {
    background-color: var(--sec-ok) !important;
  }

  .DesignBTN.confirmBTN:hover:not(:disabled) {
    background-color: var(--sec-ok-hover) !important;
  }

  .DesignBTN.neutralBTN:hover:not(:disabled) {
    background-color: var(--sec-ok-hover) !important;
  }

  .DesignBTN.cancelBTN:not(:disabled) {
    background-color: var(--sec-cancle) !important;
  }

  .DesignBTN.cancelBTN:hover:not(:disabled) {
    background-color: var(--sec-cancle-hover) !important;
    border-color: var(--sec-cancle-hover) !important;
  }

  --bar-height: 50px;
  background-color: #e8e9ea;
  min-height: 100%;
  z-index: -1;


  .CardGameBoard{
    overflow: hidden;
  }

  .GameBody {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    background-color: white;
    overflow: hidden;

    .GameView {
      display: flex;
      width: 100%;
      min-height: calc(100vh - 100px);
      .GameContainer {
        flex: 2;
        .HandCards {
          white-space: nowrap;
          pointer-events: none;
          width: 100%;
          min-height: 400px;
          max-height: 500px;
          overflow: hidden;

          .CardView {
            white-space: normal;
            display: inline-table;
          }
          .HandCardsOverlay {
            z-index: 3;
            background-color: rgba(200, 200, 200, 0.7);
          }
        }

        .GameBoard {
          margin-left: 40px;
          margin-right: 40px;
        }
      }

    }
  }

  .FinishPage {
    width: 133vh;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    .FinishStatsBar {
      color: var(--sec-font-on-blue);
      display: flex;
      padding: 9px;
      font-size: 20pt;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .BlockedViewContent {
    width: 61vh;
    margin: 10px;
    text-align: center;
    ul {
      text-align: left;
    }
  }
}

@media only screen and (min-width: $xs) and (max-width: $xl){
  body{
    p{
      font-size: 16px !important;
    }
    h2{
      font-size: 1.4em;
    }
  }

  .GameBody {
    min-width: 100vw;
    max-width: 100vw;
    overflow:scroll;
  }
}

@media only screen and (min-width: $xl) and (max-width: $x2k){
  .GameBody {
    min-width: 80vw;
    max-width: 80vw;
  }
}

@media only screen and (min-width: $x2k) {
  body{
    p{
      font-size: 18px !important;
    }
    h2{
      font-size: 1.6em;
    }
  }
  .GameBody {
    min-width: 80vw;
    max-width: 80vw;
  }
  .GameView {
    .GameContainer {
      .HandCards {
        min-height: 700px !important;
        max-height: 1000px !important;
      }
    }
  }
}

@media only screen and (max-width: $md), only screen and (max-height: 800px){
  .GameBody {
    overflow: scroll !important;
    max-height: 1200px !important;
  }
  .GameView {
    .GameContainer {
      .HandCards {
        max-height: 500px;
      }
    }
  }
}