@import "src/styles/_variables.scss";
.ShopContent {
  background-color: white;
  margin: auto;
  width: calc(133vh - 20px);
  border: 1px solid black;
  text-align:center;
  h1 {
    color: red;
  }
  span{
    font-size: 20pt;
  }

  .ShopCards {
    height: calc(55vh - 15px);
    background-color: lightgray;
    margin:10px;
    border: 1px solid black;
    list-style: none;
    overflow: auto;
    display: flex;
    align-items: center;
    li {
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
    }
    .PriceTag {
      font-size: 30px;
    }
    .CardView {
      &:hover{
        box-shadow: 3px 3px 3px 1px var(--sec-cancle-hover);
      }
    }

  }
}
  @media only screen and (max-width: $xx) {
    .ShopContent {
      width: 1200px;
    }
    .ShopConfirm {
      width: 900px;
    }
  }
  @media only screen and (max-width: $lg) {
    .ShopContent {
      width: 900px;
    }
    .ShopConfirm {
      width: 600px;
      margin-top: -70px;
    }
  }

.ShopConfirm {
  .CardView-Full {
    margin-left: auto;
    margin-right: auto;
  }
}
