@import "src/styles/_variables.scss";
@import "../CardView/CardView.scss";
.HistoryView {
    overflow: scroll;
    padding-left: 10px;
    h1 {
        color: #555;
    }
    .TurnList {
        display: flex;
        flex-flow: row wrap;
        column-gap: 10px;
        padding: 0 10px;
        .Turn {
            width: 100%;
            display: inline-flex;
            flex-flow: row nowrap;
            gap: 10px;
            overflow-x: scroll;
            overflow-y: hidden;
        }
        .EventWrapper{
            flex-shrink: 0;
            width: 49% !important;
            align-self: baseline;
        }
        .clickable:hover {
            cursor: pointer;
        }
        .EventView {
            justify-content: flex-start;
            gap: 5px;
            
            .TextFrame {
                width: unset;
                margin-left: unset;
            }
            .ImageFrame {
                flex-shrink: 0;
            }
        }
        h2 {
            color: #555;
            align-self: start;
        }
        .CardList {
            display: inline-flex;
            flex-flow: row nowrap;
            //overflow-x: scroll;
            //overflow-y: hidden;
            .CardView-Full {
                flex-shrink: 0;
                @include CardView-Medium;
            }
        }
    }
    .Content {
        display: block;
        width: 133vh !important;
    }
    .OverlayContainer {
        display: inline-flex;
        flex-flow: row nowrap;
        padding: 10px;
        width: calc(100% - 20px);
        overflow-x: scroll;
        overflow-y: hidden;
        .CardView-Full {
            flex-shrink: 0;
            //@include CardView-Medium;
        }
    }
}
