@import "src/styles/_variables.scss";


.carousel {
  height: inherit;
  pointer-events: none;
}
.SliderContainer {
  position: relative;
  //overflow: hidden;
  padding: 0 20px;
  div {
    align-self: center;
  }

  %navButtonShared {
    //positioning
    position: absolute;
    height: 30%;
    bottom: 22.5%;
    transition: all 0.6s;
    width: 20px;
    z-index: 2;
    border: 0;

    background-color: rgba(244, 244, 246, 0.8);
    &:disabled {
      background-color: rgba(244, 244, 246, 0.8);
    }
    &:hover:not(:disabled) {
      border: 0;
      background-color: var(--green);
      width: 30px;
      font-weight: bolder;
      font-size: larger;
    }
  }
  .buttonBack {
    @extend %navButtonShared;
    left: 0;
    pointer-events: auto;
    border-radius: 0 90px 90px 0;

  }
  .buttonNext {
    @extend %navButtonShared;
    right: 0;
    pointer-events: auto;
    border-radius:  90px 0 0 90px ;
    }

  .slideInner___2mfX9{
    .CardView-Minified{
      position: relative;
      //transform: translateY(250px);
      transition: 0.6s ease-in-out;
    }


  }


  .dotGroup {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    Button {
      margin: 2px 2px 0;
      width: 6px;
      height: 10px;
      border-radius: 2px;
      border: 0px;
      &:disabled {
        background-color: var(--design-bg-dark);
        opacity: 0.8;
      }
    }
  }
}


@media only screen and (min-width: $xs) and (max-width: $x2k) {
  .slideInner___2mfX9{
    .CardView-Minified{
      transform: translateY(110px);
    }
    .CardView-Minified:hover{
      transform: translateY(0px);
    }
  }
}


@media only screen and (min-width: $x2k) and (max-width: $xx) {
  .slideInner___2mfX9{
    .CardView-Minified{
      transform: translateY(200px);
    }
    .CardView-Minified:hover{
      transform: translateY(0px);
    }
  }
}

@media only screen and (max-width: $md), only screen and (max-height: 800px){
  .slideInner___2mfX9{
    .CardView-Minified{
      transform: translateY(0px);
    }
    .CardView-Minified:hover{
      transform: translateY(0px);
    }
  }
}

