.ListView {
  width: 100%;
  display: inline-block;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  overflow: auto;

  ul{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
  }
  .ActiveListItem div{
    background-color:var(--design-info-bg);
  }
}
