@import "src/styles/_variables.scss";

%CardView {
  pointer-events: auto; 
  width: 300px;
  height: 500px;
  border: 8px solid;
  border-color: white;
  border-radius: 15px;
  font-size: 20px;

  margin-left: 20px;
  margin-top: 10px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 6px #0000003c;
  z-index: 200;

  .CardName {
    text-align: center;
    font-weight: bold;
    // border-bottom: 6px solid;
    padding: 3px;
    border-color: inherit;
    white-space: normal;
    font-size: 18px;
    color: #222;
  }
  .CardDescription {
    height: 200px;
    padding: 15px;
    border-bottom: solid;
    text-align: center;
    border-color: inherit;
    white-space: normal;
  }
  .CardTags {
    min-height:40px;
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap-reverse;
    gap: 5px;
    justify-content: center;
    align-content: flex-start;
    img {
      margin-left: 5px;
      width: 40px;
      height: 40px;
    }
  }
  .CardEffect {
    padding: 5px;
  }
}

.CardDisabled {
  background-color: lightgray !important;
  border-color: gray !important;
  color: gray !important;
  &:hover {
    box-shadow: 3px 3px 3px 1px #999999 !important;
  }
}




@mixin CardView-Large {
  min-width: 380px;
  max-width: 380px;
  min-height: 580px;
  max-height: 580px;
  font-size: 24px;
  .CardDescription {
    height: 200px;
  }
  .CardName {
    font-size: 28px;
  }
}

@mixin CardView-Medium {
  width: 220px;
  max-height: 320px;
  font-size: 15.5px;
  .CardName {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .CardDescription {
    height: 126px;
  }
}

@mixin CardView-Small {
  width: 150px;
  height: 250px;
  font-size: 14px;
  .CardName {
    padding-top: 0px;
  }
  .CardDescription {
    height: 93px;
  }
}

@mixin Clickable {
  cursor: pointer;
}

.CardView-Minified {
  @extend %CardView;
  @include Clickable;
  @include CardView-Medium;
  .CardDescription {
    border: none;
  }
  .CardEffect {
    display: none;
  }
}

.CardView-Full {
  @extend %CardView;
  @include CardView-Large;
  box-shadow: none !important;
}

.income-Skill {
  &:hover {
    box-shadow: 3px 3px 3px 1px var(--sec-yellow);
  }
}
.preventive-Skill {
  &:hover {
    box-shadow: 3px 3px 3px 1px var(--sec-lightgreen);
  }
}
.reactive-Skill {
  &:hover {
    box-shadow: 3px 3px 3px 1px var(--sec-orange);
  }
}

@media screen and (min-width: $x2k) and (max-width: $xx) {
  /* Zusätzliche Regeln für größere Monitore  */
  .CardView-Full {
    @include CardView-Large;
  }
  .CardView-Minified {
    @include CardView-Large;
  }
}

@media screen and (max-width: $sm) {
  /* Zusätzliche Regeln für kleinere Monitore  */
  .CardView-Full {
    @include CardView-Medium;
  }
  .CardView-Minified {
    @include CardView-Small;
  }
}
