@import "src/styles/_variables.scss";

.ScoreView {
  display: inline-flex;
  align-items: center;
  font-size: 30px;
  height: 46px;
}

//mobile
@media only screen and (max-width: $sm){
  .ScoreView{
    font-size: 16px;
  }
}
//tablet
@media only screen and (min-width: $sm) and (max-width: $md){
  .ScoreView{
    font-size: 21px;
  }
}