@import "src/styles/_variables.scss";

.ProbabilityMeter {
  background-color: #F2F2F5;
  min-height: 160px;
  max-height: 160px;
  padding: 40px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 2fr 40px 6fr;
  grid-template-rows: min-content min-content;
  grid-gap: 50px 25px;
  grid-template-areas:
    "AttackLabel Dice AttackBar"
    "ResistLabel . ResistBar";
  border-radius: 16px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  hyphens: auto;

  span {
    margin:auto 0;
  }

  .Dice {
    grid-area: Dice;
    width: 40px;
    height: 40px;
    opacity: 0;
  }

  .DiceIsVisible {
    @extend .Dice;
    opacity: 1;
  }
  
  .Attack {
    grid-area: AttackBar;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    gap: 5px;

    .AttackLabel {
      grid-area: AttackLabel;
    }
  
    .AttackStrength {
      background-color: #E25D5D;
      height: 40px;
      border: 0.5px solid #3E3D3D;
      border-radius: 5px;
      box-shadow: inset 0px 3px 6px #00000029, 0px 3px #0000001C;
    }

    .Brick {
      background: #E25D5D 0% 0% no-repeat padding-box;
    }
  }

  .moving {
    animation: wave cubic-bezier(0.2, 0.85, 0.95, 1) 1s 1 forwards;
  }

  .ResistLabel {
    grid-area: ResistLabel;
  }

  .Resist {
    grid-area: ResistBar;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    gap: 5px;

    .Brick {
      background: #72D986 0% 0% no-repeat padding-box;
    }
  }

  .BrickWrapper {
    .Brick {
      border-width: 1px 1px 0;
      border-style: solid black;
      box-shadow: inset 0px 3px 6px #00000014;
      border: 0.5px solid #3E3D3D;
      border-radius: 5px;
      height: 40px;
      width: 100%;

      img {
        margin-top: 2.5px;
        margin-left: calc(50% - 17.5px);
        max-height: 35px;
      }
    }

    .Label {
      margin-top: 5px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.9em;
      font-weight: normal;
    }
  }
}

@media only screen and (max-width: 1400px){
  .ProbabilityMeter{
    grid-template-columns: 90px 40px 8fr;
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 40px 10px;
    min-height: 100px;
    max-height: 150px;
  }
}

@media only screen and (max-width: $md), only screen and (max-height: 900px){
  .ProbabilityMeter{
    grid-gap: 30px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100px;
    max-height: 150px;
  }
  
}