@import "src/styles/_variables.scss";

.ExplainPage {
  background-color:var(--design-gray-bg1);
  margin-top: 50px;
}

.ExplainWrapper {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  max-width: 900px;
  padding-left:5px;
  padding-right:5px;
  background-color:white;
  min-height: calc(100vh - 103.2px);

  .ExplainTitle {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    padding:  35px 20px 10px 20px;
  }
  .ExplainBody {
    text-align: justify;
    font-size: 18px;
  }
}

//mobile
@media only screen  and (max-width: $sm){
  .ExplainPage {
    margin-top: 100px;
  }
  
  .ExplainWrapper {
    .ExplainText{
      text-align: left;
    } 
    .ExplainTitle{
      text-align: left;
    }
  }
}
