@import "src/components/SecurityCards/SecurityCards.scss";

.StatusBar {
  background-color: #c7c8d1;
  width: 250px;
  text-align: center;

  .Locked {
    background-color: rgba(200, 200, 200, 0.5);
    border: 1px solid black;
  }
  button {
    font-size: 13pt;
    font-weight: bold;
    transition: all 0.6s;
    text-transform: uppercase;
    height: 35px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid #707070;
    background-color: #F2F2F5;
    color: #707070;
    &:hover {
      background-color: #707070;
      color: #F2F2F5;
    }
  }
  .NextButton {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .ImageFrame {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000003c;
    border: 2px solid #7070704a;
    border-radius: 12px;
    padding: 5px 5px 1px 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 180px;

    .EventIcon {
      border-radius: 10px;
    }
  }

  .EffectViewContainer {
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    margin-bottom: 20px;
  }

  .ShopButton {
    margin-top: 10px;
  }
}

@media only screen and (min-width: $xs) and (max-width: $xl){
  .StatusBar{
    width: 200px;


    button{
      width: 160px;
      height: fit-content;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .ImageFrame{
      width: 160px;
    }
  }

}
