.InfoPage {
  background-color: var(--design-bg);
  width: 100%;
  .InfoPageContent {
    background-color: white;
    min-width: 600px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    min-height: 1100px;
    overflow: hidden;
    margin-top:50px;
  }
  .InfoPageHeader {
    width: 100%;
    height: 50px;
    background-color: var(--design-bg-dark);
    color: var(--signal-white);
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    font-size: 28pt;
    .Logo {
      padding: 10px;
      float: left;
      width: 28;
      height: 28;
    }
  }
}
