.ContextMenu {
  width: 250px;
  list-style-type: none;
  border: 1px solid;
  border-color: #eaeaea;
  position: absolute;
  z-index: 2;
  padding-left:0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color:white;
  font-size:14pt;
  cursor:pointer;
  li {
    padding-left: 4px;
    padding-right: 4px;
    &:hover {
      background-color: var(--green);
    }
  }
}
