@import "src/styles/_variables.scss";

.LevelSelection {
  margin-top: 50px;
  min-height: calc(100vh - 50px);
  h1 {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
  }

  .LevelSelectionContainer {
    width: 70vw;
    padding-top: 0px;
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);

    .LevelEntries{
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;
      padding-left: 0;
      li {
        margin-left: 15px;
        &:first-child:nth-last-child(1) {
          list-style-type: none;
          display: inline-block;
          margin-left: 20px;
        }
      }
    }

    .LevelSelectionCard {
      width: 260px;
      height: 350px;
      position: relative;
      font-size: 16px;
      margin: 20px;
      text-align: left;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.05s linear;
      z-index: 0;
      background-image: url(/assets/SecurityCards/Szenario_Card.svg);
      
      &:hover{
        .LevelSelectionCardContent{
          transform: translateY(0);
          opacity: 1;
        }
        .LevelSelectionCardHeader{
          transform: translateY(0);
        }
      }   

      &Header{
        margin-top: 40px;
        padding: 1rem 1.4rem 0.2rem 1.4rem;
        transform: translateY(10px);
        transition: all 500ms ease;

        :first-child{
          color: white;
          font-size: 1.2em;
          position: relative;
          margin-bottom: 0.6em;
          font-weight: bold;
          height: 2.5em;
          justify-content: end;
        }

        :first-child::after{
          content: '';     
          position:absolute;
          left: 0;     
          bottom: calc(-0.6em + 1px);
          height: 1px;
          width: 100%;
          border-radius: 20px;
          background: white;

          .ScenarioEasy{
            background:rgb(71, 179, 71);
          }
        }

        :nth-child(2){
          padding: 0;
          margin:0;
          position: relative;
          font-weight: light;
          color: white;
        }
      }

      &Content{
        padding: 0 1.4rem 0 1.4rem;
        height: 120px;
        display: block;
        justify-content: center;
        font-weight: light;
        font-size: 0.9rem;
        z-index: 1;
        transform: translateY(40px);
        transition: all 500ms ease;
        opacity: 0;
        color: rgb(195, 196, 206);
      }
    }
  }
}
