@import "src/styles/_variables.scss";

.FeedbackWidget {
  width: 250px;
  //min-height: 125px;
  background-color: #275268;
  z-index: 25;
  cursor:pointer;
  border: 3px;
  border-style: solid;
  border-color:#1c3744;
  transform: rotate(-20deg);
  position: fixed;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius:10px;
  color:#e8e8e8;

  &:hover {
    border-color:#4c98bf;
  }

  img {
    width: 50px;
    height: 50px;
    margin:6px;
    display: inline-flex;
  }

  span {
    position:relative;
    top:-15px;
    line-height: 55px;
    font-size: 28pt;
    margin:6px;
    word-wrap: break-word;
  }
}

//mobile
@media only screen and (max-width: $sm){
  .FeedbackWidget {
    max-width: 180px;
    max-height: 80px;
    top: 60px;
    transform: translate(calc(100vw - 260px), -50px) rotate(-10deg);
    padding-left: 8px;
    img {
      width: 28px;
      height: 28px;
    }
  
    span {
      position:relative;
      top:-10px;
      line-height: 36px;
      font-size: 20pt;
      margin:6px;
    }
  }
}


//tablet
@media only screen and (min-width: $sm) and (max-width: $lg){
  .FeedbackWidget {
    max-width: 180px;
    max-height: 80px;
    top: 10px;
    transform: translate(calc(100vw - 260px), -70px) rotate(15deg);
    padding-left: 8px;
    img {
      width: 28px;
      height: 28px;
    }
  
    span {
      position:relative;
      top:-10px;
      line-height: 36px;
      font-size: 20pt;
      margin:6px;
    }
  }
}