.Overlay{
  backdrop-filter: blur(3px);
  background-color: rgba(80, 80, 80, 0.418);
  width:100%;
  height:100%;
  z-index: 10;
  position:fixed;
  left: 0;
  top: 0;
  text-align: center;
  overflow: scroll;
  .Content {
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: inline-block;
    margin-top: 100px;
    //background-color: red;
    background-color: rgba(254, 254, 254);
  }
}
