.EffectView {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: default;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: .5s ease;
        background-color: #1d203699;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        .overlay{
            opacity: 1;
        }
        .ToolTip {
            visibility: visible;
            transition: ease-in 1s 0.5s;
        }
    }
    .duration {
        color: white;
    }
    .ToolTip {
        position: absolute;
        top: 0;
        left: 35px;
        z-index: 1;
        font-size: 10pt;
        white-space: normal;
        padding: 5px;
        border-radius: 5px;
        background: var(--sec-bar);
        color: var(--sec-font-on-blue);

        transition-duration: 0.2s;
        visibility: hidden; /* hide by default */
        pointer-events: none; //prevents popups blocking neighbour effectviews
    }
}


